<h1 class="h2 page-title">Survey Results</h1>
<%= render partial: 'shared/survey_details', locals: {survey: @survey} %>
<ol class="list">
  <%= render partial: 'admin/shared/collated_responses',  collection: @survey.questions.includes(:options), as: :question %>
</ol>