<li class="item">
  <%= question.title %>
  <div class="list-inner">
    <table class="table table-striped mts">
      <thead>
        <th>Response</th>
        <th>Count</th>
      </thead>
      <tbody>
        <%= render partial: 'admin/shared/result_answer', collection: question.options, as: :option  %>
      </tbody>
    </table>
  </div>
</li>