<div class="survey-builder-steps row">
  <div class="col-xs-6">
    <span<%= ' class="text-light"'.html_safe unless survey.new_record? %>>1. Build Survey</span></div>
  <div class="col-xs-6"><span<%= ' class="text-light"'.html_safe if survey.new_record? %>>2. Add Questions</span></div>
</div>